<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/daily?movie);">
  <div class="container">
    <h1>Save <strong>any kind</strong> of <strong>movies</strong>!</h1>
    <p>Create, update and share lists with anyone!</p>
    <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-flat' %>
  </div>
</div>
